aniso8601==5.1.0
arrow==0.12.1
asn1crypto==0.24.0
attrs==19.1.0
Authlib==0.10
beautifulsoup4==4.6.0
certifi==2018.8.13
cffi==1.12.2
chardet==3.0.4
click==6.7
cloudant==2.12.0
colorama==0.4.1
cookies==2.2.1
CouchDB==1.2
coverage==4.5.2
cryptography==2.4.2
Cython==0.28.4
elasticsearch==6.3.0
flake8==2.5.0
flake8-debugger==1.4.0
flake8-print==2.0.1
flake8-todo==0.4
Flask==1.0
Flask-Login==0.4.1
Flask-OAuthlib==0.9.5
Flask-RESTful==0.3.7
flask-restplus==0.12.1
Flask-SQLAlchemy==2.3.2
flask-swagger==0.2.13
forecast==0.1.0
get==2018.11.19
idna==2.7
itsdangerous==0.24
Jinja2==2.10
jsonschema==3.0.1
mando==0.6.4
MarkupSafe==1.0
mccabe==0.3.1
mock==2.0.0
mongoengine==0.15.3
numpy==1.14.0
oauthlib==2.1.0
pbr==5.1.1
pep8==1.7.1
pep8-naming==0.3.3
post==2018.11.20
public==2018.11.20
py==1.7.0
pycparser==2.19
pyflakes==1.0.0
pymodm==0.4.1
pymongo==3.7.1
pyrsistent==0.14.11
pystan==2.17.1.0
pytest==2.8.3
pytest-cov==2.2.0
python-dateutil==2.7.3
python-forecastio==1.4.0
pyttsx==1.1
pyttsx3==2.7
pytz==2018.9
PyYAML==3.13
query-string==2018.11.20
radon==1.2.2
relativetimebuilder==0.2.0
request==2018.11.20
requests==2.19.1
requests-oauthlib==1.0.0
responses==0.9.0
scipy==1.2.1
simanneal==0.4.1
six==1.12.0
SQLAlchemy==1.2.9
tornado==5.1
urllib3==1.23
Werkzeug==0.14.1
